extends ../layout

block vars
  - var title = "Projects"

include ../mixins/project.pug

block content 
  header.page-header
    h1 Projects

  main.page-main 
    header.section-header 
      h3 My Projects

    section.projects
      +project("EShop", "https://i.imgur.com/Lh64rYa.png", "https://steve-kaufman.com/eshop", "https://github.com/steve-kaufman/eshop")
      +project("Todo App", "", "https://steve-kaufman.com/todo-app", "https://github.com/steve-kaufman/todo-app")