@mixin xl
  .page-main
    padding: 3rem 16rem

    .cards
      display: grid
      grid-template-columns: 1fr 1fr
      padding: 4rem
      grid-gap: 4rem 10%

      .card
        width: auto
        margin: 0

        .card-header
          padding: 1rem 1.5rem

    .card 
      margin: 2rem

      .card-main
        padding: 1.5rem
        line-height: 2rem