doctype html

block vars

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/css/index.css")
    title=title
    script(src="https://code.iconify.design/1/1.0.7/iconify.min.js")
  body(id=title)
    main#page-main
      block content
